<div class="hero">
   <div class="container">
      <header>
         <div class="logo">
            <img src="./img/hero/logo.svg" alt="logo" />
            <h2>EVARUGS</h2>
         </div>
         <ul class="links">
            <li><a href="#votes">отзывы</a></li>
            <li><a href="#about">что это?</a></li>
            <li><a href="#contacts">контакты</a></li>
         </ul>
      </header>
      <div class="heroBody">
         <div class="tagline">
            <h1>
               Инновационные коврики <br />
               для автомобиля
            </h1>
            <span>в Киеве</span>
            <button>ЗАКАЗАТЬ</button>
         </div>
         <img src="./img/hero/mainImg.svg" alt="mainImg" />
      </div>
   </div>
</div>
