<div class="about" id="about">
   <div class="container">
      <h2>Что такое <strong>EVA</strong> коврики?</h2>
      <ul class="items">
         <li class="item" data-aos="zoom-out-right">
            <div class="img"></div>
            <div class="itemBody">
               <h5>МАТЕРИАЛ</h5>
               <p>
                  Коврики EVA всесезонные и отличаются уникальной поверхностью материала с ячейками
                  ромбовидной формы. Из-за чего вода не проливается при изъятии ковра и не плещется при езде.
                  Коврики воду не пропускают.
               </p>
            </div>
         </li>
         <li class="item" data-aos="zoom-out">
            <div class="img"></div>
            <div class="itemBody">
               <h5>ОТЛИЧИЯ</h5>
               <p>
                  Резиновые коврики загибаются и лезут на педали. EVA коврики такого не допустят! Специальные
                  липучки держат его в одном положении. При желании, для водителя устанавливается подпятник из
                  рельефного алюминия.
               </p>
            </div>
         </li>
         <li class="item" data-aos="zoom-out-left">
            <div class="img"></div>
            <div class="itemBody">
               <h5>РАСЦВЕТКА</h5>
               <p>
                  Автомобильные коврики EVA можно заказать и в индивидуальных размерах и в разных цветах,
                  которые комбинируется на выбор покупателя с такими же цветами окантовочной полипропиленовой
                  ременной ленты.
               </p>
            </div>
         </li>
      </ul>
   </div>
</div>
