<nav class="navbar">
   <ul class="navbarContent container">
      <li class="tel">
         <a href="tel:+380501230022">
            <img src="./img/header/tel.svg" alt="icon" />
            +380 50 123-00-22
         </a>
      </li>
      <li class="city">
         <img src="./img/header/point.svg" alt="icon" />
         <span>Киев</span>
      </li>
      <li class="social">
         <a
            href="https://instagram.com/eva_kovriki_ukraine?utm_medium=copy_link"
            target="_blank"
            rel="noreferrer noopener"
         >
            <img src="./img/header/instagram.svg" alt="icon" />
            <span>
               посетите нашу <br />
               страницу
            </span>
         </a>
      </li>
   </ul>
</nav>
