<div class="votes" id="votes">
   <div class="swiper">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
            <img src="./img/votes/img1.png" alt="avatar" class="avatar" />
            <p>Спасибо, все приехало, поставил. Результатом доволен, в машине супер! Заказывал на Ниссан.</p>
            <div class="underline"></div>
            <span class="username">Николай П.</span>
         </div>
         <div class="swiper-slide">
            <img src="./img/votes/img2.png" alt="avatar" class="avatar" />
            <p>
               Коврики супер!!! Качество на высшем уровне!!! Удачи и побольше заказов вам!!! Большое спасибо!
            </p>
            <div class="underline"></div>
            <span class="username">Константин В.</span>
         </div>
         <div class="swiper-slide">
            <img src="./img/votes/img3.png" alt="avatar" class="avatar" />
            <p>
               Покупала у ребят коврики для Хундай солярис в <br />
               подарок молодому человеку. Все очень понравилось.
            </p>
            <div class="underline"></div>
            <span class="username">Вера К.</span>
         </div>
      </div>
   </div>
</div>
