<div class="footer" id="contacts">
   <div class="container">
      <div class="info">
         <div class="social">
            <h5>МЫ В СОЦИАЛЬНЫХ СЕТЯХ</h5>
            <a
               href="https://instagram.com/eva_kovriki_ukraine?utm_medium=copy_link"
               target="_blank"
               rel="noreferrer noopener"
            >
               <img src="./img/footer/instagram.svg" alt="icon" />
            </a>
         </div>
         <div class="phone">
            <h5>КОНТАКТНЫЕ ТЕЛЕФОНЫ</h5>
            <a href="tel:+380501230022">+380 50 123-00-22</a>
         </div>
         <div class="aboutUs">
            <h5>О НАС</h5>
            <p>
               Индивидуальное изготовление <br />
               EVA ковриков для вашего автомобиля
            </p>
            <span>Киев</span>
         </div>
      </div>
   </div>
</div>
